.main > div{
    min-height: 75vh;
}
.section{
    padding-top: 50px;
    padding-bottom: 50px;
}
:root {
    --links: #a9455b;
    --btnBackground: #F97794;
  }

  
a {
    color: var(--links) !important;
}

html,body{
    padding: 0;
    font-family: 'Fira Sans', sans-serif !important;
}
.navbar{
    padding: 15px 0 !important;
}
.navbar-brand{
    font-size: 25px !important;
}
.navbar-brand img{
    width: 25px;
    margin-top: -4px;
}
.mr-10px{
    margin-right: 10px;
}
.header-sec{
    position: relative;
    text-align: center;
    padding-top: 150px;
    height: 550px;
    background-image: linear-gradient( 135deg, #333 10%, #444 100%);
    color: #fff; 
}
.header-sec p{
    max-width: 700px;
    margin: 0 auto;
    color: #efefef;
    margin-top: 15px;
    line-height: 30px;
}

.header-sec::before,
.header-sec::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
}

.header-sec::before {
  border-bottom-color: #fff;
  top: 30px;
  left: 30px;
  transform: rotate(35deg);
}

.header-sec::after {
  border-top-color: #fff;
  bottom: 30px;
  right: 30px;
  transform: rotate(-35deg);
}
.btnGetStarted{
    margin-top: 45px !important;
    max-width: 200px !important;
    margin: 0 auto;
    padding: 8px 8px 0 8px !important;
    border-radius: 50px !important;
    font-size: 15px !important;    
    background: #4f4b4b  !important;
    color: #F97794 !important;
    box-shadow:  none !important;
     font-weight: bold !important;
}
.site-input-radius {
    border-radius: 0px 12px 0px 12px !important;
}
.btn-site{
    background-color: var(--btnBackground) !important;
    color: #fff !important;
}
.analyseItem{
    padding: 30px 35px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 15px;
}
.homePanel{
    margin-top: 40px;
}
.homePanel .links{
    text-align: left;   
}
.homePanel .links li a{
    display: block;
    padding: 10px 18px;
    margin-bottom: 7px;
    color: #fff !important;
    background-color: #98b378;
    border-top-right-radius: 12px;
    text-decoration: none;
}
.homePanel .links li{
    transition: 0.7s ease;
}
.homePanel .links li a:hover, .homePanel .links li.active a{
    background-color: #fff;
    color: #98b378 !important;
    border: 1px solid #98b378;
}
.mx-130px{
    width: 130px;
  display: inline-block;
}
.btn-site{
    background-color: #827E4A;
    color: #fff;
}

.form-group{
    margin-bottom: 25px;
}
.mw-150px{
    max-width: 150px;
    display: inline-block;
}
.yield-content{
    background: #f5f5f5;
    padding: 50px 0;
    min-height: 68vh;
}
.footer{
    background-color: #e5e5e5;
    padding: 50px 0;
    text-align: center;
}
.btn-success{
    color: #fff !important;
}

@media (max-width:767px) {
    .homePanel .links li a{
        border: 1px solid #dcdcdc;
        border-radius: 12px;
    }
  

}